<head><link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet"></head>
<div id = "header">
    <h1>VOTE MASTER</h1>
    <h2>A SIMPLE VOTECASTING PLATFORM<h2>
</div>

<div id = "navbar">
    <a href="">CREATE NEW POLL</a>
    <a href="">VIEW YOUR RESULTS</a>
</div>

<div id = "pollForm">
    <%= form_for :poll do |f| %>
        <p>
            <!--<%= f.label :PollQuestion, "Question: " %> <br>-->
            <%= f.text_field :PollQuestion, :placeholder => "Enter Poll Name" %> <br>
            
        </p>
        
        <br>
        <div id="pollcontainer">
            <!--<div class="side">-->
                <p id = "one">
                    <!--<%= f.label :PollOption1, "Option 1: "  %>-->
                    <%= f.text_field :PollOption1, :placeholder => "Option 1"%> 
                </p>
                <p id = "two"></p>
                    <!--<%= f.label :PollOption2, "Option 2: " %> -->
                    <%= f.text_field :PollOption2, :placeholder => "Option 2" %> 
                </p>
            
            <!--<br>-->
            
            <!--<div class="side">-->
                <p id = "three"></p>
                    <!--<%= f.label :PollOption3, "Option 3: " %> -->
                    <%= f.text_field :PollOption3, :placeholder => "Option 3" %> 
                </p>
                <p id = "four">
                    <!--<%= f.label :PollOption4, "Option 4: " %> -->
                    <%= f.text_field :PollOption4, :placeholder => "Option 4" %> 
                </p>
            <!--</div>-->
            
            <p>
                <%= f.submit %>
            </p>
        </div>
    <% end %>
</div>

<div id="footer">
    <p>
        TEAM 12
    </p>
</div>