<head><link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet"></head>
<div id = "header">
    <h1>VOTE MASTER</h1>
    <h2>A SIMPLE VOTECASTING PLATFORM<h2>
</div>

<div id = "navbar">
    <%= link_to 'CREATE NEW POLL', new_poll_url %>
    <%= link_to 'VIEW OPEN POLLS', polls_path %>
</div>


<!-- Style Below Better Please -->
<div id = "pollForm">
        <div class="choice">
            <p>Question:</p>
            <p><%= @poll.question %></p>
        </div>
        <div class="choice">
        </div>
        <div class="choice">
            <p>OPTION 1:</p>
            <p><%= @poll.answer1 %></p>
        </div>
        <div class="choice">
            <p>OPTION 2:</p>
            <p><%= @poll.answer2 %></p>
        </div>
        <div class="choice">
            <p>OPTION 3:</p>
            <p><%= @poll.answer3 %></p>
        </div>
        <div class="choice">
            <p>OPTION 4:</p>
            <p><%= @poll.answer4 %></p>
        </div>
    
        <div class="choice">
            <%= link_to 'Delete', poll_path(@poll), method: :delete, data: { confirm: 'Are you sure?' } %>
            <%= link_to 'Edit', edit_poll_path(@poll) %>
        </div>
</div>

<div id="footer">
    <p>
        TEAM 12
    </p>
</div>