<head><link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet"></head>
<div id = "header">
    <h1>VOTE MASTER</h1>
    <h2>A SIMPLE VOTECASTING PLATFORM<h2>
</div>

<div id = "navbar">
    <%= link_to 'CREATE NEW POLL', new_poll_url %>
    <%= link_to 'VIEW OPEN POLLS', polls_path %>
</div>

<div id="resultbox">
    <div id = "results">
        <p id="titleresult">Results</p>
        <button id="graphtoggle">SWITCH VIEW</button> 
        <div data-op1="<%= @poll.answer1 %>" id="op1" class="option" >
            <p><%= @poll.answer1 %></p>
            <br>
            <p><%= @poll.votes.where(:selection => 1).count %></p>
        </div>
        <div data-op2="<%= @poll.answer2 %>" id="op2" class="option">
            <p><%= @poll.answer2 %></p>
            <br>
            <p><%= @poll.votes.where(:selection => 2).count %></p>
        </div>
        <div data-op3="<%= @poll.answer3 %>" id="op3" class="option">
            <p><%= @poll.answer3 %></p>
            <br>
            <p><%= @poll.votes.where(:selection => 3).count %></p>
        </div>
        <div data-op4="<%= @poll.answer4 %>" id="op4" class="option">
            <p><%= @poll.answer4 %></p>
            <br>
            <p><%= @poll.votes.where(:selection => 4).count %></p>
        </div>
        <!--BAR GRAPH HERE-->
        <div id="graph">
            <div id="bar1" data-bar1num="<%= @poll.votes.where(:selection => 1).count %>"></div>
            <div id="bar2" data-bar2num="<%= @poll.votes.where(:selection => 2).count %>"></div>
            <div id="bar3" data-bar3num="<%= @poll.votes.where(:selection => 3).count %>"></div>
            <div id="bar4" data-bar4num="<%= @poll.votes.where(:selection => 4).count %>"></div>
        </div>
        <div id="graphtitles">
            <p id="title1"><%= @poll.answer1 %> : <%= @poll.votes.where(:selection => 1).count %></p>
            <p id="title2"><%= @poll.answer2 %> : <%= @poll.votes.where(:selection => 2).count %></p>
            <p id="title3"><%= @poll.answer3 %> : <%= @poll.votes.where(:selection => 3).count %></p>
            <p id="title4"><%= @poll.answer4 %> : <%= @poll.votes.where(:selection => 4).count %></p>
        </div>
    </div>
    
</div>

<div id="footer">
    <p>
        TEAM 12
    </p>
</div>